.MuiTooltip-tooltip {
    background-color: #d0d6d9 !important;
    color: #2f343D!important;
}
.tooltip-content {
    max-width: 400px;
    border: 1px solid #011f31;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.tooltip-header {
    border-bottom: 1px solid #ccc;
}

.tooltip-body p {
    margin: 0.5rem 0;
}

.tooltip-target {
    cursor: pointer;
}
